MVC/Connected Services/SOAPService/ApplicationService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMovieDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MovieDTO" nillable="true" type="tns:MovieDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovieDTO" nillable="true" type="tns:ArrayOfMovieDTO" />
  <xs:complexType name="MovieDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Movie_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Resume" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MovieDTO" nillable="true" type="tns:MovieDTO" />
  <xs:complexType name="ArrayOfUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDTO" nillable="true" type="tns:UserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDTO" nillable="true" type="tns:ArrayOfUserDTO" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bday" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="ArrayOfUserMovieDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserMovieDTO" nillable="true" type="tns:UserMovieDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserMovieDTO" nillable="true" type="tns:ArrayOfUserMovieDTO" />
  <xs:complexType name="UserMovieDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Movie" nillable="true" type="tns:MovieDTO" />
      <xs:element minOccurs="0" name="Movie_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rent_Day" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Return_Day" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:UserDTO" />
      <xs:element minOccurs="0" name="UserMovie_Id" type="xs:int" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserMovieDTO" nillable="true" type="tns:UserMovieDTO" />
</xs:schema>